<!DOCTYPE html>
<html>
<head>
  <title>YJINLEE</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

  <!-- modify stylesheet depending on the page -->
  <link rel="stylesheet" type="text/css" href="/templates/main.css">
</head>

