<!DOCTYPE html>
<html>
<head>
  <title>YJINLEE</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- modify stylesheet depending on the page -->
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="row">
        <h1 class="align-center title col-md-4">
          YJINLEE
        </h1>
      </div>
      <div class="row">
        <p class="align-center">Short Introduction goes here</p>
      </div>
      <div>
        blog posts go here
      </div>
    </header>

  </div>

</body>
