<!DOCTYPE html>
<html>
<head>
  <title>YJINLEE</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

  <!-- modify stylesheet depending on the page -->
  <link rel="stylesheet" type="text/css" href="/templates/main.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="title-row">
        <h2 class="title">
          <a class="title" href="/">YJINLEE</a>
        </h2>
        <p class="title-intro">Notes on tech, stock market, and life</p>
      </div>
      <div class="menu-row row">
        <ul class="menu">
          <li class="menu-li">
            <a class="menu-content" href="/blog">blog</a>
          </li>
          <li class="menu-li">
            <a class="menu-content" href="/projects">projects</a>
          </li>
          <li class="menu-li">
            <a class="menu-content" href="/visiting">visiting notes</a>
          </li>
          <li class="menu-li">
            <a class="menu-content" href="/profile">introduction</a>
          </li>
        </ul>
      </div>
    </header>
