{{template "header.html"}}
    <div class="container">
      {{ range .Posts}}
      <div class="post row justify-content-center">
	      <h2 class="post-title col-12"><a href="/blog/{{.ID}}">{{.Title}}</a></h2>
      </div>
      <div class="date">{{.CreatedAt}}</div>
      <div class="body">{{.Body}}</div>
      <div class="read"><a href="/blog/{{.ID}}">Read More</a></div>
      {{end}}
    </div>
    <footer class="row">
      <p class="creator">Created by<a href="https://www.fb.com/brianlee0829">@YongJinLee</a>.</p>
      <p class="check">
        <a href="#">Back to top</a>
      </p>
    </footer>
  </div>


</body>
