{{template "header.html"}}


    <div class="container">
      {{ .Button }}

      <form action="/uplnote" method="post">
    <div class="form-group comment">
       <label for="content">Leave a note to YongJin</label>
         <textarea class="form-control" name="content" id="content" rows="2"></textarea>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="container notes">
      {{ range .Notes}}
      <img class="profile-pic" src="{{.VisitorProfile}}"/>
      <div class="profile-name">{{.VisitorName}}</div>
      <div class="date note-date">{{.CreatedAt}}</div>
      <div class="body comment">{{.Body}}</div>
      {{end}}
    </div>

    <footer class="row">
      <p class="creator">Created by<a href="https://www.fb.com/brianlee0829">@YongJinLee</a>.</p>
      <p class="check">
        <a href="#">Back to top</a>
      </p>
    </footer>
  </div>


</body>
