{{template "header.html"}}
    <div class="container">
      {{ .Button }}
      {{ range .Notes}}
      <div class="post row justify-content-center">
	       </div>
      <div class="date">{{.CreatedAt}}</div>
      <div class="body">{{.Body}}</div>
      <div class="body">{{.Link}}</div>
      {{end}}
    </div>

    <div class="container">
      <form action="/upl" method="post">
    <div class="form-group">
       <label for="content">Content</label>
         <textarea class="form-control" name="content" id="content" rows="2"></textarea>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <footer class="row">
      <p class="creator">Created by<a href="https://www.fb.com/brianlee0829">@YongJinLee</a>.</p>
      <p class="check">
        <a href="#">Back to top</a>
      </p>
    </footer>
  </div>


</body>
